.cardContainer {
  max-width: 228px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.cardContainer img {
  width: 100px;
}
