.header{
    padding: 15px;
    margin-bottom: 30px;
 transform: translate(0,-50px);
 transition: 1s;

    & .linksContainer{
        display: flex;
        border-bottom: 1px solid gray;
        padding: 0 0 15px 10px;
        width: 100%;
        gap: 20px;
    }
    & .handle{
        border: 1px solid gray;
        border-top: none;
        width: 60px;
        margin: auto;
        transition: 1s;
        cursor: pointer;
        &:hover{
            background-color: rgb(160, 161, 161);
            transition: 1s;
        }
    }
}
.on{
    transform: translate(0,0);
    transition: 1s;
}