.App {
  text-align: center;
  display: grid;
  grid-template-areas: "head head head"
                       "nav  add ads"
                       "nav  list ads";
grid-template-rows: auto;
grid-template-columns: auto 1fr 200px;

}
.header{
  grid-area: head;
}
.aside{
  grid-area: nav;
}
.addPost{
  grid-area: add;
}
.postList{
  grid-area: list;
}
.ads{
  grid-area: ads;
padding-left: 20px;
}

