.match {
  width: 100px;
  height: 200px;
  padding-top: 20px;

  .fire {
    width: 50px;
    height: 50px;
  }

  .stick {
    margin: auto;
    width: 8px;
    height: 100px;
    // transform: translate(0px, 0px);
    background: linear-gradient(to right, #8c4816, #f0a15f);
    border: 0.1vw solid #c2573e;
    & p {
      transform: translate(-1px, -48px);
      z-index: 1;
      color: white;
      position: relative;
    }
  }
}
.stick::before {
  content: "";
  display: block;
  margin: auto;
  width: 15px;
  height: 25px;
  transform: translate(-4px, -22px);
  background: #4d260f;
  border-radius: 50%;
}

.stick::after {
  content: "";
  display: block;
  width: 15px;
  transform: translate(-4px, -65px);
  height: 20px;
  background: #f4f3f3;
  background: linear-gradient(to bottom, #fff, #d47b1c 10%, transparent);
  filter: blur(0.5vw);
  border-radius: 50%;
}
